body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(WhatsApp\ Image\ 2023-08-29\ at\ 23.27.36.jpg);
    background-size: cover;
    background-repeat: no-repeat
    

}
.container{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#Registration{
    border: 1px solid black;
    height: 300px;
    width: 400px;
    position: absolute;
    top: 50%;
    left:50%;
    background-color:#f5f5f5e3;
    transform: translate(-50%, -50%);
    padding: 5px;
    box-shadow: 2px 2px 20px #919191
    
    
}
.input{
    margin-top: 10px;
    margin-left: 10px;
    
}
.input h1{
    margin-left: 100px;
}
#button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
 }
 button{

 
    background-color: plum;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border-color: pink;
    cursor: pointer;
}